@model WebSite.Models.Fa_Cashier.AddFAvoucherViewModel
@using HyBy.Trading.BusinessEntity
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>新建凭证</title>
    @*<link href="~/Content/CSS/common.css" rel="stylesheet" type="text/css">
    <link href="~/Content/CSS/pz.css" rel="stylesheet" type="text/css">
    <link href="~/Content/CSS/ui.css" rel="stylesheet" type="text/css">
    <link href="~/Content/CSS/voucher.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/js/jquery-1.8.3.min.js"></script>
    <script src="~/Scripts/js/spinbox.js"></script>
    <script src="~/Scripts/js/jquery.combo.js"></script>
    <script src="~/Scripts/js/radixPoint.js"></script>*@


    @Styles.Render("~/Content/Voucher1")
    @Scripts.Render("~/bundles/Voucher1")

</head>   
<body>
    @*<div id="mask3" class="mask_layer"></div>*@
    <div class="wrapper" id="option_1" style="padding:10px 0;">
        <div class="voucher_wrap otherMargin">
            <input type="hidden" id="hid_SourceCode" value="@ViewBag.sourceCode" />
            <div class="pzContent clear">
                <div class="fl">
                    <span>方式：</span>
                    <select class="select" id="ddlPaymentType">
                        <option value="1" selected="selected">银行</option>
                        @*<option value="2">现金</option>*@
                        @*<option value="3">支票</option>*@
                    </select>
                    <input type="text" id="txtCheckNo" style="display:none;">
                    @Html.DropDownList("select_bank", ViewData["bank"] as IEnumerable<SelectListItem>, "-请选择-", new { @class = "select" })

                    <select class="select" id="ddlType">
                        <option value="0">收入</option>
                        <option value="1">支出</option>
                        <option value="2">一收一支</option>
                    </select>
                    <span id="div_shouzhi" style="display:none;">
                        <select class="select">
                            <option value="1" selected="selected">银行</option>
                        </select>
                        收款账户：@Html.DropDownList("select_shou_bank", ViewData["bank"] as IEnumerable<SelectListItem>, "-请选择-", new { @class = "select" })
                        支款账户：@Html.DropDownList("select_zhi_bank", ViewData["bank"] as IEnumerable<SelectListItem>, "-请选择-", new { @class = "select" })
                    </span>
                </div>
                <div class="fr" style="margin-right:-12px;">日期：<span id="sp_time">@ViewBag.voucherTime</span> <span style="display:none;">ID：<span id="sp_Code">@ViewBag.voucherCode</span></span></div>
            </div>
            <table class="voucher" id="voucher" style="width:100%;">
                <thead>
                    <tr>
                        <th class="col_summary" colspan="2">摘要</th>
                        <th class="col_subject" colspan="2">会计科目</th>
                        <th class="col_quantity">数量</th>
                        <th class="col_currency">币别</th>
                        <th class="col_money">
                            <strong class="tit">借方金额</strong>
                            <div class="money_unit"> <span>亿</span> <span>千</span> <span>百</span> <span>十</span> <span>万</span> <span>千</span> <span>百</span> <span>十</span> <span>元</span> <span>角</span> <span class="last">分</span> </div>
                        </th>
                        <th class="col_money">
                            <strong class="tit">贷方金额</strong>
                            <div class="money_unit"> <span>亿</span> <span>千</span> <span>百</span> <span>十</span> <span>万</span> <span>千</span> <span>百</span> <span>十</span> <span>元</span> <span>角</span> <span class="last">分</span> </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="entry_item">
                        <td class="col_summary" data-edit="summary"><div class="cell_val summary_val" id="div_Summary1"></div></td>
                        <td class="col_option"><div class="option"><a class="selSummary">摘要</a></div></td>
                        <td class="col_subject" data-edit="subject" voutype="1"><div class="cell_val subject_val" id="div_subject1"></div></td>
                        <td class="col_option"><div class="option"></div></td>
                        <td class="col_quantity"><div class="cell_val quantity_val"></div></td>
                        <td class="col_currency"><div class="cell_val curr_val"></div></td>
                        <td class="col_debite" data-edit="money"><div class="cell_val debit_val" id="div_debit_money1"></div></td>
                        <td class="col_credit" data-edit="money"><div class="cell_val credit_val" id="div_credit_money1"></div></td>
                    </tr>
                    <tr class="entry_item">
                        <td class="col_summary" data-edit="summary"><div class="cell_val summary_val" id="div_Summary2"></div></td>
                        <td class="col_option"><div class="option"><a class="selSummary">摘要</a></div></td>
                        <td class="col_subject" data-edit="subject" voutype="1"><div class="cell_val subject_val" id="div_subject2"></div></td>
                        <td class="col_option"><div class="option"><a class="selSub">科目</a></div></td>
                        <td class="col_quantity"><div class="cell_val quantity_val"></div></td>
                        <td class="col_currency"><div class="cell_val curr_val"></div></td>
                        <td class="col_debite" data-edit="money"><div class="cell_val debit_val" id="div_debit_money2"></div></td>
                        <td class="col_credit" data-edit="money"><div class="cell_val credit_val" id="div_credit_money2"></div></td>
                    </tr>
                    <tr class="entry_item">
                        <td class="col_summary" data-edit="summary"><div class="cell_val summary_val" id="div_Summary3"></div></td>
                        <td class="col_option"><div class="option"><a class="selSummary">摘要</a></div></td>
                        <td class="col_subject" data-edit="subject" voutype="1"><div class="cell_val subject_val" id="div_subject3"></div></td>
                        <td class="col_option"><div class="option"><a class="selSub">科目</a></div></td>
                        <td class="col_quantity"><div class="cell_val quantity_val"></div></td>
                        <td class="col_currency"><div class="cell_val curr_val"></div></td>
                        <td class="col_debite" data-edit="money"><div class="cell_val debit_val" id="div_debit_money3"></div></td>
                        <td class="col_credit" data-edit="money"><div class="cell_val credit_val" id="div_credit_money3"></div></td>
                    </tr>
                    <tr class="entry_item">
                        <td class="col_summary" data-edit="summary"><div class="cell_val summary_val" id="div_Summary4"></div></td>
                        <td class="col_option"><div class="option"><a class="selSummary">摘要</a></div></td>
                        <td class="col_subject" data-edit="subject" voutype="1"><div class="cell_val subject_val" id="div_subject4"></div></td>
                        <td class="col_option"><div class="option"><a class="selSub">科目</a></div></td>
                        <td class="col_quantity"><div class="cell_val quantity_val"></div></td>
                        <td class="col_currency"><div class="cell_val curr_val"></div></td>
                        <td class="col_debite" data-edit="money"><div class="cell_val debit_val" id="div_debit_money4"></div></td>
                        <td class="col_credit" data-edit="money"><div class="cell_val credit_val" id="div_credit_money4"></div></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" class="col_total">合计：<span id="capAmount"></span></td>
                        <td class="col_debite"><div class="cell_val debit_total" id="debit_total"></div></td>
                        <td class="col_credit"><div class="cell_val credit_total" id="credit_total"></div></td>
                    </tr>
                </tfoot>
            </table>
            <div class="cont_skr" id="di_payee" style="display:none;">
                收款人账户： <input type="text" class="input_lr mr5" id="txt_payeeBankCode">
                银行： <input type="text" class="input_sm" id="drp_payeeBankName">
                户名： <input type="text" class="input_sm" id="txt_payee">
            </div>
            <div class="cont_skr clear">
                <span class="color_o fl">提示：50张就可以装订为一册哦~点击查看</span>
                <a href="#" class="under_line mr5 fl ml15" id="btn_zdgf">装订规范</a>
                <input type='button' class='btnMend4' id="btn_Save" value='保 存' onclick='Save(this)'>
                <a class="btn" id="btn_Print" style="display:none;"><span>打印</span></a>
            </div>
        </div>
    </div>

    @*打印参数*@
    <form id="form1">
        <input type="hidden" name="code" value="@ViewBag.voucherCode" />@*凭证号*@
        <input type="hidden" id="type" name="type" />@*银行，现金，支票*@
        <input type="hidden" id="bankname" name="bankname" />@*银行名称或支票号*@
        <input type="hidden" id="date" name="date" value="@ViewBag.voucherTime" />@*凭证日期*@

        <input type="hidden" id="summary1" name="summary1" />@*摘要*@
        <input type="hidden" id="subjectA1" name="subjectA1" />@*科目*@
        <input type="hidden" id="subjectB1" name="subjectB1" />@*子目或账户*@
        <input type="hidden" id="Debit1" name="Debit1" />@*借方*@
        <input type="hidden" id="Credit1" name="Credit1" />@*贷方*@

        <input type="hidden" id="summary2" name="summary2" />
        <input type="hidden" id="subjectA2" name="subjectA2" />
        <input type="hidden" id="subjectB2" name="subjectB2" />
        <input type="hidden" id="Debit2" name="Debit2" />
        <input type="hidden" id="Credit2" name="Credit2" />

        <input type="hidden" id="summary3" name="summary3" />
        <input type="hidden" id="subjectA3" name="subjectA3" />
        <input type="hidden" id="subjectB3" name="subjectB3" />
        <input type="hidden" id="Debit3" name="Debit3" />
        <input type="hidden" id="Credit3" name="Credit3" />

        <input type="hidden" id="summary4" name="summary4" />
        <input type="hidden" id="subjectA4" name="subjectA4" />
        <input type="hidden" id="subjectB4" name="subjectB4" />
        <input type="hidden" id="Debit4" name="Debit4" />
        <input type="hidden" id="Credit4" name="Credit4" />

        <input type="hidden" id="DebitAll" name="DebitAll" />
        <input type="hidden" id="CreditAll" name="CreditAll" />

        <input type="hidden" id="Sum" name="sum" />@*中文合计*@

        <input type="hidden" id="payee" name="payee" />@*收款人户名*@
        <input type="hidden" id="payeeBankNo" name="payeeBankNo" />@*收款账户*@
        <input type="hidden" id="payeeBankName" name="payeeBankName" />@*收款银行*@
    </form>

    <script type="text/javascript" src="~/Scripts/js/v1.js"></script>
    <script type="text/javascript" src="~/Scripts/js/rxued.js"></script>
    <script>

        window.onload = function () {
            $("#j_alertboxPZP .mask_layer", top.document).show();
            // $("#mask3").hide();
            rxued.iframe.autoHeight2('ifmPz', 20);
            rxued.iframe.autoHeight2('j_framepz2', 20);

            var voucherID = $("#hid_SourceCode").val();
            if (voucherID != "" && voucherID != "0") {
                $("#ddlType").hide();
                $("#di_payee").show();
            } else {
                $("#ddlType").show();
                $("#di_payee").hide();
            }
            var str = "";
            $.ajax({
                type: "POST",
                data: "voucherID=" + voucherID,//注意这里的参数名称要和Action 的参数名称相同。
                url: "/NewVoucher/GetVoucherStr",
                async: false,
                success: function (data) {
                    str = data;
                    rxued.iframe.autoHeight2('ifmPz', 20);
                }
            });
            if (str != "") {
                var str1 = str.split('☆');
                //收款银行卡控制
                if (str1[24] != null && str1[24] != "") {
                    //document.getElementById("txt_payee").value = str1[23];
                    $("#txt_payeeBankCode").val(str1[24]);
                    $("#txt_payeeBankCode").attr("disabled", "disabled");
                }
                if (str1[23] != null && str1[23] != "") {//户名
                    $("#txt_payee").val(str1[23]);
                    $("#txt_payee").attr("disabled", "disabled");
                }
                if (str1[25] != null && str1[25] != "") {//收款人银行
                    $("#drp_payeeBankName").val(str1[25]);
                    $("#drp_payeeBankName").attr("disabled", "disabled");
                }

                for (var i = 1; i <= 4; i++) {
                    if (str1[i] != null && str1[i] != "" && str1[i] != "无") {
                        $("#div_Summary" + i).html(str1[i]);
                        $("#div_Summary" + i).parent().removeAttr("data-edit");
                    }
                    if (str1[i + 4] != null && str1[i + 4] != "" && str1[i + 4] != "0") {
                        $("#div_subject" + i).html(GetsubjectStr(str1[i + 4], str1[i + 8]));
                        $("#div_subject" + i).parent().removeAttr("data-edit");
                    }
                }
                if (str1[17] != null && str1[17] != "" && parseFloat(str1[17]) != 0) {
                    $("#debit_total").html(accMul(str1[17], 100));
                    $("#debit_total").attr("data-val", str1[17]);
                    for (var i = 1; i <= 4; i++) {
                        $("#div_debit_money" + i).parent().removeAttr("data-edit");
                    }
                }
                if (str1[22] != null && str1[22] != "" && parseFloat(str1[22]) != 0 && parseFloat(str1[22]) >= parseFloat(str1[17])) {
                    $("#credit_total").html(accMul(str1[22], 100));
                    $("#credit_total").attr("data-val", str1[22]);
                    for (var i = 1; i <= 4; i++) {
                        $("#div_credit_money" + i).parent().removeAttr("data-edit");
                    }
                }
                //借方金额
                for (var i = 1; i <= 4; i++) {
                    if (str1[i + 12] != null && str1[i + 12] != "" && parseFloat(str1[i + 12]) != 0) {
                        $("#div_debit_money" + i).html(accMul(str1[i + 12], 100));
                        $("#div_debit_money" + i).attr("data-val", str1[i + 12]);

                        $("#div_credit_money" + i).parent().removeAttr("data-edit");
                    }
                }
                //贷方金额
                for (var i = 1; i <= 4; i++) {
                    if (str1[i + 17] != null && str1[i + 17] != "" && parseFloat(str1[i + 17]) != 0) {
                        $("#div_credit_money" + i).html(accMul(str1[i + 17], 100));
                        $("#div_credit_money" + i).attr("data-val", str1[i + 17]);

                         $("#div_debit_money" + i).parent().removeAttr("data-edit");
                    }
                }
            }
        }

        function GetsubjectStr(subjectA, subjectB) {
            var strSubject = "";
            if (subjectA != null && subjectA != "") {
                $.ajax({
                    type: "POST",
                    data: "subjectA=" + subjectA + "&&subjectB=" + subjectB,//注意这里的参数名称要和Action 的参数名称相同。
                    url: "/NewVoucher/GetsubjectStr",
                    async: false,
                    success: function (data) {
                        strSubject = data;
                        rxued.iframe.autoHeight2('ifmPz', 20);
                    }
                });
            }

            return strSubject;
        }
    </script>
    <script>
        $(window).load(function () {
            $("#j_alertboxPZP .mask_layer", top.document).hide();
        })
        $("#btn_zdgf").click(function () {
            //alert(1);

            $("#j_alertboxPZP,#j_alertboxpz2", top.document).hide();
            //点击后iframe载入页面
            $("#j_framepz", top.document).attr("src", "/PrintVoucher/VoucherCover");



            $("#j_alertboxpz,#mask0", top.document).show();
        })

        //$("#ddlPaymentType").change(function () {
        //    var typeval = $(this).val();
        //    switch (typeval) {
        //        case '1':
        //            $("#txtCheckNo").hide();
        //            $("#select_bank").show();
        //            break;
        //        case '2':
        //            $("#txtCheckNo,#select_bank").hide();
        //            break;
        //        case '3':
        //            $("#txtCheckNo").show();
        //            $("#select_bank").hide();
        //            break;
        //    }
        //})
        $("#ddlType").change(function () {
            var typeval = $(this).val();
            switch (typeval) {
                case '0':
                    $("#di_payee").hide();
                    $("#div_shouzhi").hide();
                    $("#select_bank").show();
                    $("#ddlPaymentType").show();
                    getSubject();
                    break;
                case '1':
                    $("#di_payee").show();
                    $("#div_shouzhi").hide();
                    $("#select_bank").show();
                    $("#ddlPaymentType").show();
                    getCashierSubject();
                    break;
                case '2':
                    $("#di_payee").hide();
                    $("#div_shouzhi").show();
                    $("#select_bank").hide();
                    $("#ddlPaymentType").hide();
                    getSubject();
                    break;
                default:
                    getSubject();
                    break;
            }
            rxued.iframe.autoHeight2('ifmPz', 20);
            rxued.iframe.autoHeight2('j_framepz2', 20);
            $("#div_subject1").html("");
            $("#div_subject2").html("");
            $("#div_subject3").html("");
            $("#div_subject4").html("");
        })
        //$("#ddlType").change(function () {
        //    var val = $(this).val();
        //    switch (val) {
        //        case '1':
        //            getCashierSubject();
        //            break;
        //        default:
        //            getSubject();
        //            break;
        //    }
        //});

        var isClick = true;
        // $("#btn_Save").click(function () {
        function Save(obj) {
            var _this = $(obj);
            var txt = _this.val();
            _this.val("保存中...").addClass("disabled").css("cursor", "wait").attr("disabled", true);
            if (isClick) {
                isClick = false;
            } else {
                alert("正在提交！");
                return false;
            }
            var SourceCode = $("#hid_SourceCode").val();//如果为空或者0则为财务自己添加凭证，否则操作其他凭证
            var PaymentType = $("#ddlPaymentType").val();   //1银行 2现金 3支票
            var CheckNo = $("#txtCheckNo").val();  //支票号
            var select_bank = $("#select_bank").val();  //银行卡ID
            var sp_time = $("#sp_time").html();  //凭证时间
            var sp_Code = "";// $("#sp_Code").html();  //财务凭证编号
            var payeeBankCode = $("#txt_payeeBankCode").val();  //收款人账户
            var payeeBankName = $("#drp_payeeBankName").val();  //银行
            var payee = $("#txt_payee").val();      //户名
            var type = $("#ddlType").val();//凭证类型0:收入,1:支出,2:一收一支
            var select_shou_bank = $("#select_shou_bank").val();  //银行卡ID
            var select_zhi_bank = $("#select_zhi_bank").val();  //银行卡ID
            if (SourceCode != "" && SourceCode != "0") {
                if (PaymentType == "1") {
                    if (select_bank == "") {
                        alert("请选择银行卡"); isClick = true; _this.val(txt).removeClass("disabled").attr("disabled", false).css("cursor", "pointer");
                        return false;
                    }
                } else if (PaymentType == "3") {
                    if (CheckNo == "") {
                        alert("请填写支票号"); isClick = true; _this.val(txt).removeClass("disabled").attr("disabled", false).css("cursor", "pointer");
                        return false;
                    }
                }
                select_shou_bank = "0";
                select_zhi_bank = "0";
            } else {
                if (type == "2") {  //一收一支
                    if (select_shou_bank == "") {
                        alert("请选择收款银行卡"); isClick = true; _this.val(txt).removeClass("disabled").attr("disabled", false).css("cursor", "pointer");
                        return false;
                    }
                    if (select_zhi_bank == "") {
                        alert("请选择支款银行卡"); isClick = true; _this.val(txt).removeClass("disabled").attr("disabled", false).css("cursor", "pointer");
                        return false;
                    }
                    if (select_shou_bank == select_zhi_bank) {
                        alert("收款和支款银行卡是一张"); isClick = true; _this.val(txt).removeClass("disabled").attr("disabled", false).css("cursor", "pointer");
                        return false;
                    }

                    select_bank = "";
                } else {
                    if (select_bank == "") {
                        alert("请选择银行卡"); isClick = true; _this.val(txt).removeClass("disabled").attr("disabled", false).css("cursor", "pointer");
                        return false;
                    }
                    select_shou_bank = "0";
                    select_zhi_bank = "0";
                }
            }

            var summary1 = $("#div_Summary1").html();
            var summary2 = $("#div_Summary2").html();
            var summary3 = $("#div_Summary3").html();
            var summary4 = $("#div_Summary4").html();

            var subjectA1 = "", subjectB1 = "";
            var subjectA2 = "", subjectB2 = "";
            var subjectA3 = "", subjectB3 = "";
            var subjectA4 = "", subjectB4 = "";
            var subject1 = $("#div_subject1").html();
            if (subject1 != null && subject1 != "") {
                if (subject1.indexOf('_') > 0) {
                    //包含二级科目
                    var strsub = subject1.split(' ');
                    subjectA1 = strsub[0].split('_')[0]; ////一级科目ID
                    subjectB1 = strsub[0].split('_')[1]; ////二级科目ID
                } else {
                    subjectA1 = subject1.split(' ')[0];  //一级科目ID
                }
            }
            var subject2 = $("#div_subject2").html();
            if (subject2 != null && subject2 != "") {
                if (subject2.indexOf('_') > 0) {
                    //包含二级科目
                    subjectA2 = subject2.split(' ')[0].split('_')[0]; ////一级科目ID
                    subjectB2 = subject2.split(' ')[0].split('_')[1]; ////二级科目ID
                } else {
                    subjectA2 = subject2.split(' ')[0];  //一级科目ID
                }
            }
            var subject3 = $("#div_subject3").html();
            if (subject3 != null && subject3 != "") {
                if (subject3.indexOf('_') > 0) {
                    //包含二级科目
                    subjectA3 = subject3.split(' ')[0].split('_')[0]; ////一级科目ID
                    subjectB3 = subject3.split(' ')[0].split('_')[1]; ////二级科目ID
                } else {
                    subjectA3 = subject3.split(' ')[0];  //一级科目ID
                }
            }
            var subject4 = $("#div_subject4").html();
            if (subject4 != null && subject4 != "") {
                if (subject4.indexOf('_') > 0) {
                    //包含二级科目
                    subjectA4 = subject4.split(' ')[0].split('_')[0]; ////一级科目ID
                    subjectB4 = subject4.split(' ')[0].split('_')[1]; ////二级科目ID
                } else {
                    subjectA4 = subject4.split(' ')[0];  //一级科目ID
                }
            }

            var debit_money1 = $("#div_debit_money1").attr("data-val");
            var debit_money2 = $("#div_debit_money2").attr("data-val");
            var debit_money3 = $("#div_debit_money3").attr("data-val");
            var debit_money4 = $("#div_debit_money4").attr("data-val");

            var credit_money1 = $("#div_credit_money1").attr("data-val");
            var credit_money2 = $("#div_credit_money2").attr("data-val");
            var credit_money3 = $("#div_credit_money3").attr("data-val");
            var credit_money4 = $("#div_credit_money4").attr("data-val");

            if ((debit_money1 != "" && debit_money1 != undefined && parseFloat(debit_money1) != 0) || (credit_money1 != "" && credit_money1 != undefined && parseFloat(credit_money1) != 0)) {
                if (summary1 == "" || subjectA1 == "") {
                    alert("摘要和科目不能为空"); isClick = true; _this.val(txt).removeClass("disabled").attr("disabled", false).css("cursor", "pointer");
                    return false;
                }
            } if ((debit_money2 != "" && debit_money2 != undefined && parseFloat(debit_money2) != 0) || (credit_money2 != "" && credit_money2 != undefined && parseFloat(credit_money2) != 0)) {
                if (summary2 == "" || subjectA2 == "") {
                    alert("摘要和科目不能为空"); isClick = true; _this.val(txt).removeClass("disabled").attr("disabled", false).css("cursor", "pointer");
                    return false;
                }
            } if ((debit_money3 != "" && debit_money3 != undefined && parseFloat(debit_money3) != 0) || (credit_money3 != "" && credit_money3 != undefined && parseFloat(credit_money3) != 0)) {
                if (summary3 == "" || subjectA3 == "") {
                    alert("摘要和科目不能为空"); isClick = true; _this.val(txt).removeClass("disabled").attr("disabled", false).css("cursor", "pointer");
                    return false;
                }
            } if ((debit_money4 != "" && debit_money4 != undefined && parseFloat(debit_money4) != 0) || (credit_money4 != "" && credit_money4 != undefined && parseFloat(credit_money4) != 0)) {
                if (summary4 == "" || subjectA4 == "") {
                    alert("摘要和科目不能为空"); isClick = true; _this.val(txt).removeClass("disabled").attr("disabled", false).css("cursor", "pointer");
                    return false;
                }
            }

            //项目成本的待办事项下，科目包含19时，不需要限制选择银行
            var sourceType = "@ViewData["sourceType"]";
            if (sourceType == 3) {
                if (subjectA1 == 5 || subjectA1 == 4 || subjectA2 == 5 || subjectA2 == 4 || subjectA3 == 5 || subjectA3 == 4 || subjectA4 == 5 || subjectA4 == 4 || subjectA4 == 19 || subjectA3 == 19 || subjectA2 == 19 || subjectA1 == 19) {

                } else {
                    alert("科目录入不正确,没有选择银行"); isClick = true; _this.val(txt).removeClass("disabled").attr("disabled", false).css("cursor", "pointer");
                    return false;
                }
            }
            else {
                if (subjectA1 == 5 || subjectA1 == 4 || subjectA2 == 5 || subjectA2 == 4 || subjectA3 == 5 || subjectA3 == 4 || subjectA4 == 5 || subjectA4 == 4) {

                } else {
                    alert("科目录入不正确,没有选择银行"); isClick = true; _this.val(txt).removeClass("disabled").attr("disabled", false).css("cursor", "pointer");
                    return false;
                }
            }


            if (SourceCode != "" && SourceCode != "0") {
                if (sourceType == 3) {
                    if (subjectA1 != 5 && subjectA1 != 4 && subjectA2 != 5 && subjectA2 != 4 && subjectA3 != 5 && subjectA3 != 4 && subjectA4 != 5 && subjectA4 != 4 && subjectA1 != 19 && subjectA2 != 19 && subjectA3 != 19 && subjectA4 != 19) {
                        alert("贷方科目录入不正确"); isClick = true; _this.val(txt).removeClass("disabled").attr("disabled", false).css("cursor", "pointer");
                        return false;
                    }
                }
                else {
                    if (subjectA1 != 5 && subjectA1 != 4 && subjectA2 != 5 && subjectA2 != 4 && subjectA3 != 5 && subjectA3 != 4 && subjectA4 != 5 && subjectA4 != 4) {
                        alert("贷方科目录入不正确"); isClick = true; _this.val(txt).removeClass("disabled").attr("disabled", false).css("cursor", "pointer");
                        return false;
                    }
                }

            } else {
                if (type == "0") {
                    if (subjectA1 == 5 || subjectA1 == 4) {
                        if (debit_money1 == "" || debit_money1 == undefined || parseFloat(debit_money1) == 0) {
                            alert("科目录入不正确或相反"); isClick = true; _this.val(txt).removeClass("disabled").attr("disabled", false).css("cursor", "pointer");
                            return false;
                        }
                    }
                    if (subjectA2 == 5 || subjectA2 == 4) {
                        if (debit_money2 == "" || debit_money2 == undefined || parseFloat(debit_money2) == 0) {
                            alert("科目录入不正确或相反"); isClick = true; _this.val(txt).removeClass("disabled").attr("disabled", false).css("cursor", "pointer");
                            return false;
                        }
                    }
                    if (subjectA3 == 5 || subjectA3 == 4) {
                        if (debit_money3 == "" || debit_money3 == undefined || parseFloat(debit_money3) == 0) {
                            alert("科目录入不正确或相反"); isClick = true; _this.val(txt).removeClass("disabled").attr("disabled", false).css("cursor", "pointer");
                            return false;
                        }
                    }
                    if (subjectA4 == 5 || subjectA4 == 4) {
                        if (debit_money4 == "" || debit_money4 == undefined || parseFloat(debit_money4) == 0) {
                            alert("科目录入不正确或相反"); isClick = true; _this.val(txt).removeClass("disabled").attr("disabled", false).css("cursor", "pointer");
                            return false;
                        }
                    }
                } else if (type == "1") {
                    if (subjectA1 == 5 || subjectA1 == 4) {
                        if (credit_money1 == "" || credit_money1 == undefined || parseFloat(credit_money1) == 0) {
                            alert("科目录入不正确或相反"); isClick = true; _this.val(txt).removeClass("disabled").attr("disabled", false).css("cursor", "pointer");
                            return false;
                        }
                    }
                    if (subjectA2 == 5 || subjectA2 == 4) {
                        if (credit_money2 == "" || credit_money2 == undefined || parseFloat(credit_money2) == 0) {
                            alert("科目录入不正确或相反"); isClick = true; _this.val(txt).removeClass("disabled").attr("disabled", false).css("cursor", "pointer");
                            return false;
                        }
                    }
                    if (subjectA3 == 5 || subjectA3 == 4) {
                        if (credit_money3 == "" || credit_money3 == undefined || parseFloat(credit_money3) == 0) {
                            alert("科目录入不正确或相反"); isClick = true; _this.val(txt).removeClass("disabled").attr("disabled", false).css("cursor", "pointer");
                            return false;
                        }
                    }
                    if (subjectA4 == 5 || subjectA4 == 4) {
                        if (credit_money4 == "" || credit_money4 == undefined || parseFloat(credit_money4) == 0) {
                            alert("科目录入不正确或相反"); isClick = true; _this.val(txt).removeClass("disabled").attr("disabled", false).css("cursor", "pointer");
                            return false;
                        }
                    }
                }
            }

            var debit_total = $("#debit_total").attr("data-val");  //借方
            var credit_total = $("#credit_total").attr("data-val");  //贷方
            if (parseFloat(debit_total) != parseFloat(credit_total)) {
                alert("借方和贷方金额不一致"); isClick = true; _this.val(txt).removeClass("disabled").attr("disabled", false).css("cursor", "pointer");
                return false;
            }
            if (SourceCode != "" && SourceCode != "0") {
                if (payeeBankCode == "") {
                    alert("请填写收款人账户"); isClick = true; _this.val(txt).removeClass("disabled").attr("disabled", false).css("cursor", "pointer");
                    return false;
                }
                if (payeeBankName == "") {
                    alert("请填写银行"); isClick = true; _this.val(txt).removeClass("disabled").attr("disabled", false).css("cursor", "pointer");
                    return false;
                }
                if (payee == "") {
                    alert("请填写户名"); isClick = true; _this.val(txt).removeClass("disabled").attr("disabled", false).css("cursor", "pointer");
                    return false;
                }
            } else {
                if ($("#ddlType").val() == "0" || $("#ddlType").val() == "2") {
                    payeeBankCode = "";
                    payeeBankName = "";
                    payee = "";
                    $("#di_payee").hide();
                } else {
                    $("#di_payee").show();
                    if (payeeBankCode == "") {
                        alert("请填写收款人账户"); isClick = true; _this.val(txt).removeClass("disabled").attr("disabled", false).css("cursor", "pointer");
                        return false;
                    }
                    if (payeeBankName == "") {
                        alert("请填写银行"); isClick = true; _this.val(txt).removeClass("disabled").attr("disabled", false).css("cursor", "pointer");
                        return false;
                    }
                    if (payee == "") {
                        alert("请填写户名"); isClick = true; _this.val(txt).removeClass("disabled").attr("disabled", false).css("cursor", "pointer");
                        return false;
                    }
                }
            }

            //JS读取cookie
            var CreateBy = "";// document.cookie.split(";")[0].split("&")[2].split("=")[1];

            var str = SourceCode + '☆'
            + PaymentType + '☆'
            + CheckNo + '☆'
            + select_bank + '☆'
            + sp_time + '☆'
            + sp_Code + '☆'
            + payeeBankCode + '☆'
            + payeeBankName + '☆'
            + payee + '☆'
            + summary1 + '☆' + summary2 + '☆' + summary3 + '☆' + summary4 + '☆'
            + subjectA1 + '☆' + subjectA2 + '☆' + subjectA3 + '☆' + subjectA4 + '☆'
            + subjectB1 + '☆' + subjectB2 + '☆' + subjectB3 + '☆' + subjectB4 + '☆'
            + debit_money1 + '☆' + debit_money2 + '☆' + debit_money3 + '☆' + debit_money4 + '☆' + debit_total + '☆'
            + credit_money1 + '☆' + credit_money2 + '☆' + credit_money3 + '☆' + credit_money4 + '☆' + credit_total + '☆'
            + $("#ddlType").val() + '☆' + select_shou_bank + '☆' + select_zhi_bank;
            $.ajax({
                type: "POST",
                data: { "str": str, "CreateBy": CreateBy },//注意这里的参数名称要和Action 的参数名称相同。
                url: "/NewVoucher/AddVoucher",
                async: false,
                success: function (data) {
                    if (data == "ok") {
                        alert("添加成功");
                        $("#ifmPz", parent.document).attr("src", $("#ifmPz", parent.document).attr("src"));
                        $("#ifrma1", parent.document).attr("src", $("#ifrma1", parent.document).attr("src"));

                        //取消打印
                        //$("#btn_Print").click();
                    } else {
                        isClick = true;
                        alert("添加失败");
                        $("#ifmPz", parent.document).attr("src", $("#ifmPz", parent.document).attr("src"));
                        $("#ifrma1", parent.document).attr("src", $("#ifrma1", parent.document).attr("src"));

                    }
                    $("#j_alertboxPZP", parent.document).hide();
                    $("#j_alertboxpz2", parent.document).hide();
                    $("#mask0", parent.document).hide();
                    rxued.iframe.autoHeight2('ifmPz', 20);
                    _this.val(txt).removeClass("disabled").attr("disabled", false).css("cursor", "pointer");
                }
            });
            // })
        }
    </script>

    <script type="text/javascript">
        //打印凭证
        $("#btn_Print").click(function () {
            //支付类型
            $("#form1 #type").val($("#ddlPaymentType option:selected").text());

            //银行名称或支票号
            $("#form1 #bankname").val("");
            if ($("#select_bank").is(":visible")) {
                $("#form1 #bankname").val($("#select_bank option:selected").text());
            }
            if ($("#txtCheckNo").is(":visible")) {
                $("#form1 #bankname").val($("#txtCheckNo").val());
            }

            //摘要
            $("#form1 #summary1").val($("#div_Summary1").text());
            $("#form1 #summary2").val($("#div_Summary2").text());
            $("#form1 #summary3").val($("#div_Summary3").text());
            $("#form1 #summary4").val($("#div_Summary4").text());

            //科目
            var value1 = $("#div_subject1").text();
            value1 = value1.substr(value1.indexOf(' ') + 1);
            $("#form1 #subjectA1").val(value1.substr(0, value1.indexOf('_')));

            var value2 = $("#div_subject2").text();
            value2 = value2.substr(value2.indexOf(' ') + 1);
            $("#form1 #subjectA2").val(value2.substr(0, value2.indexOf('_')));

            var value3 = $("#div_subject3").text();
            value3 = value3.substr(value3.indexOf(' ') + 1);
            $("#form1 #subjectA3").val(value3.substr(0, value3.indexOf('_')));

            var value4 = $("#div_subject4").text();
            value4 = value4.substr(value4.indexOf(' ') + 1);
            $("#form1 #subjectA4").val(value4.substr(0, value4.indexOf('_')));

            //子目
            $("#form1 #subjectB1").val(value1.substr(value1.indexOf('_') + 1));
            $("#form1 #subjectB2").val(value2.substr(value2.indexOf('_') + 1));
            $("#form1 #subjectB3").val(value3.substr(value3.indexOf('_') + 1));
            $("#form1 #subjectB4").val(value4.substr(value4.indexOf('_') + 1));

            //借方
            $("#form1 #Debit1").val($("#div_debit_money1").text());
            $("#form1 #Debit2").val($("#div_debit_money2").text());
            $("#form1 #Debit3").val($("#div_debit_money3").text());
            $("#form1 #Debit4").val($("#div_debit_money4").text());
            $("#form1 #DebitAll").val($("#debit_total").text());

            //贷方
            $("#form1 #Credit1").val($("#div_credit_money1").text());
            $("#form1 #Credit2").val($("#div_credit_money2").text());
            $("#form1 #Credit3").val($("#div_credit_money3").text());
            $("#form1 #Credit4").val($("#div_credit_money4").text());
            $("#form1 #CreditAll").val($("#credit_total").text());

            //合计
            $("#form1 #Sum").val($("#capAmount").text());

            //收款人户名,收款账户,收款银行
            $("#form1 #payee").val($("#txt_payee").val());
            $("#form1 #payeeBankNo").val($("#txt_payeeBankCode").val());
            $("#form1 #payeeBankName").val($("#drp_payeeBankName").val());


            var type = $("#ddlType option:selected").val();
            var SourceCode = $("#hid_SourceCode").val();
            if (SourceCode != "" && SourceCode != "0") {
                $("#j_alertboxpz2,#mask0", top.document).find("#j_framepz2").attr("src", "../PrintVoucher/DisbursementVoucher?form=" + escape($("#form1").serialize()));
                $("#j_alertboxpz2,#mask0", top.document).show();
            } else {
                if (type == "0") {
                    //$("#j_alertboxpz2,#mask0", top.document).find("#j_framepz2").attr("src", "../PrintVoucher/IncomeVoucher?form=" + escape($("#form1").serialize()));
                    //$("#j_alertboxpz2,#mask0", top.document).show();
                }
                else if (type == "1" || type == "2") {
                    $("#j_alertboxpz2,#mask0", top.document).find("#j_framepz2").attr("src", "../PrintVoucher/DisbursementVoucher?form=" + escape($("#form1").serialize()));
                    $("#j_alertboxpz2,#mask0", top.document).show();
                }
            }


        })

        $("#div_subject1").change(function () {
            alert("333");
        })
    </script>
</body>

</html>
